In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import binom
import math

**Task1** Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:
The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below
i 1 2 3 4 5 6 7 8 9 10
===== == == == == == == == == == ==
Input 10 20 30 40 50 60 70 80 90 100
y1 25 = (10+20+30+40)/4
y2 35 = (20+30+40+50)/4
y3 45 = (30+40+50+60)/4
y4 55 = (40+50+60+70)/4
y5 65 = (50+60+70+80)/4
y6 75 = (60+70+80+90)/4
y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:
Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [9]:
def moving_avg(array,window =3):
    out_arr = np.array([])
    for i in range(len(array)-window+1): 
        sliced_arr = sum(array[i:window+i])/window
        out_arr = np.append(out_arr,sliced_arr)
    return out_arr
mylist = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
myarray = np.array(mylist)
print(moving_avg(myarray))

[  5.           4.66666667   5.66666667   6.66666667   9.66666667
  28.66666667  49.33333333  72.66666667  84.          93.33333333
 116.33333333]

**Task2: Q1** How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [23]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
list = [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]
def prev_zero(mylist):
    i=0
    newlist =[]
    for val in mylist:
        if val ==0:
            i=0
        else:
            i+=1
        newlist.append(i)
    return newlist

In [25]:
df["Y"] = prev_zero(list)
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

**Task2 : Q2** - Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [50]:
df = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(df)), index=df)
s

2015-01-01    0.960240
2015-01-02    0.663439
2015-01-05    0.304602
2015-01-06    0.524883
2015-01-07    0.920755
2015-01-08    0.036091
2015-01-09    0.797753
2015-01-12    0.074959
2015-01-13    0.279437
2015-01-14    0.417878
2015-01-15    0.044088
2015-01-16    0.207084
2015-01-19    0.020353
2015-01-20    0.411719
2015-01-21    0.293168
2015-01-22    0.239285
2015-01-23    0.199802
2015-01-26    0.473531
2015-01-27    0.704604
2015-01-28    0.085414
2015-01-29    0.538851
2015-01-30    0.150969
2015-02-02    0.121458
2015-02-03    0.774998
2015-02-04    0.563219
2015-02-05    0.815966
2015-02-06    0.772930
2015-02-09    0.853902
2015-02-10    0.059162
2015-02-11    0.595384
                ...
2015-11-20    0.883354
2015-11-23    0.137664
2015-11-24    0.114165
2015-11-25    0.852713
2015-11-26    0.659899
2015-11-27    0.299338
2015-11-30    0.704440
2015-12-01    0.557192
2015-12-02    0.793676
2015-12-03    0.572476
2015-12-04    0.688232
2015-12-07    0.686088
2015-12-08    0.220964
2015-12-09    0.498320
2015-12-10    0.927316
2015-12-11    0.246154
2015-12-14    0.654943
2015-12-15    0.392584
2015-12-16    0.968464
2015-12-17    0.426846
2015-12-18    0.135197
2015-12-21    0.324927
2015-12-22    0.138437
2015-12-23    0.112527
2015-12-24    0.552367
2015-12-25    0.801070
2015-12-28    0.926145
2015-12-29    0.861520
2015-12-30    0.027743
2015-12-31    0.282165
Freq: B, Length: 261, dtype: float64

**Task2: Q3** - Find the sum of the values in s for every Wednesday

In [38]:
s[df.weekday == 2].sum()

25.321491263767843

**Task2: Q4** - Average For each calendar month

In [62]:
s.resample('M').mean()

2015-01-31    0.379496
2015-02-28    0.496411
2015-03-31    0.425498
2015-04-30    0.575478
2015-05-31    0.493243
2015-06-30    0.551533
2015-07-31    0.593207
2015-08-31    0.428720
2015-09-30    0.465387
2015-10-31    0.530380
2015-11-30    0.512353
2015-12-31    0.512841
Freq: M, dtype: float64

**Task2 : Q5** - For each group of four consecutive calendar months in s, find the date on which the highest
value occurred.

In [60]:
s.groupby(pd.Grouper(freq ='4M')).idxmax()

2015-01-31   2015-01-01
2015-05-31   2015-04-03
2015-09-30   2015-06-17
2016-01-31   2015-11-03
dtype: datetime64[ns]